# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# History file
timer_history.json

# Windows specific
*.exe
*.dll

# Environment
venv/
.env
.venv
env/

# IDE specific files
.idea/
.vscode/
*.swp

# Icon files
*.ico